body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
    color: #f9f9f9;
    background-image: url(/imagens/gif/2.gif);
    font-family: 'Mirage';
}

.header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.roadmap {
    display: flex;
    justify-content: center;
}

.roadmap a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}

.roadmap a:hover {
    color: #919191;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#habilidades h2 {
    font-size: 40px;
}

.projeto {
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 4%;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
}

.apresentacao {
    flex: 1;
    margin-right: 130px;
    font-size: 19px;
}

.foto_perfil {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.foto_perfil img {
    width: 650px;
    height: 660px;
    border-radius: 100%;
}

@font-face {
    font-family: 'Mirage';
    src: url(../fontes/caviar_dreams/CaviarDreams_Italic.ttf) format('truetype');
}

#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin-top: 20px;
}

.habilidade {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.habilidade_foto {
    flex: 0 0 auto;
    margin-right: 20px;
}

.habilidades_texto {
    flex: 1;
}

.habilidade_foto img {
    max-width: 100%;
}

#projetos {
    text-align: center;
}

.projeto_texto h2 {
    font-size: 40px;
}

.imagem-container {
    overflow: hidden;
}

.imagem {
    transition: transform 0.3s ease;

}

.imagem:hover {
    transform: scale(1.1);
}
